name: Update Haskell Stack dependencies

on:
  schedule:
    - cron: '0 * * * *'

env:
  GITHUB_TOKEN: ${{ secrets.PAT }}
    
jobs:
    update-stack:
        permissions:
            contents: write
            pull-requests: write
        name: Update dependencies
        runs-on: ubuntu-latest

        steps:
        - name: Checkout
          id: checkout
          uses: actions/checkout@v4

        - name: Setup Stack
          uses: haskell-actions/setup@v2
          with:
            enable-stack: true
            stack-no-global: true

        - name: Update stack dependencies
          id: bump-deps
          uses: stevemao/dep-haskell-stack@v2.2.0
          continue-on-error: true  # Do not error
        
        - name: Create Pull Request
          id: pr
          uses: peter-evans/create-pull-request@v5
          env:
            commit-message:
              ${{ steps.bump-deps.outputs.previous-resolver == steps.bump-deps.outputs.new-resolver && 'Update dependencies' || format('Update resolver from {0} to {1}', steps.bump-deps.outputs.previous-resolver, steps.bump-deps.outputs.new-resolver) }}
          with:
            branch: "${{vars.AL_VERSION}}-${{steps.bump-deps.outputs.new-resolver}}"
            token: ${{ env.GITHUB_TOKEN }}
            commit-message: ${{env.commit-message}}
            title: ${{env.commit-message}}

        - name: Enable auto-merge for Dependabot PRs
          if: steps.pr.outputs.pull-request-url
          run: gh pr merge --auto --merge "$PR_URL"
          env:
            PR_URL: ${{steps.pr.outputs.pull-request-url}}
            GH_TOKEN: ${{ env.GITHUB_TOKEN }}
